<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="title">Challenges</div>
          <div class="challenge-list-container">
            <div class="list-group">
              <a *ngFor="let challenge of challenges; let i = index;" [routerLink]="['/challenge', challenge.id]"
                 class="list-group-item">{{challenge.title}} <span class="badge">easy</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
