<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="panel panel-default">
        <div class="panel-body">
          <!--Should probably refactor the list into a separate component if it gets moer complex-->
          <div *ngIf="!displayCertainChallenge && !errorOccurred">
            <div class="title">Challenges</div>
            <div class="challenge-list-container" *ngIf="completedChallenges">
              <div class="list-group">
                <a *ngFor="let challenge of challenges; let i = index;"
                   class="list-group-item" (click)="displayChallenge(challenge)" [ngClass]="{'list-group-item-success' : isChallengeCompleted(challenge.id)}">{{challenge.title}}
                  <span class="badge">{{challenge.difficulty}}</span>
                  <span class="badge">{{getGoldReward(challenge)}} <span class="gold-icon"></span></span>
                </a>
              </div>
            </div>
          </div>
          <div *ngIf="errorOccurred">
            An error has occurred.
          </div>
          <app-challenge *ngIf="displayCertainChallenge && !errorOccurred" [challenge]="displayedChallenge"
                         (onGoBack)="showChallengesList()" (updateCompletion)="challengeCompleted($event)"></app-challenge>
        </div>
      </div>
    </div>
  </div>
</div>
