.gold-icon {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: gold;
  display: inline-block;
}

.title-container {
  margin-bottom: 8px;
}

.title-sm {
  font-size: 2em;
}
