<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="simple-panel">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-8 title title-container title-sm">
              Welcome to Codegleyd.
            </div>
            <div class="col-sm-4">
              <div class="block pull-right" *ngIf="userData">Lifetime Gold: {{userData.gold}}
                <div class="gold-icon"></div>
              </div>
              <br/>
              <div class="pull-right block" *ngIf="userData">
                Gold Available: {{userData.gold - userData.goldSpent}}
                <div class="gold-icon"></div>
              </div>
            </div>
            <br/>
          </div>
          <div class="row">
            <div class="col-sm-12">
              Here you can practise Python coding questions to learn the basics or prepare for an interview. As you
              complete challenges, you'll earn gold that will upgrade your settlement, automatically. Everyone's
              settlement grows differently. Watch your settlement grow with
              you as you become a better programmer! Dive in now.
              <button class="btn btn-primary pull-right" (click)="goToChallenges()" style="margin-top: 5px">
                Go to Challenges
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="webgl-content">
      <div id="gameContainer" style="width: 1000px; height: 450px"></div>
    </div>
  </div>

  <div class="row simple-panel" *ngIf="this.userData" style="width:1040px">
    <div class="col-sm-8">
      <div class="panel panel-default">
        <div class=" panel-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="title">
                Quests
              </div>
              <br/>
              <div style="margin-bottom: 10px">Complete the following quests to unlock tile packs for your settlement.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="panel"
                   [ngClass]="{'panel-default': !isPackUnlocked('town'), 'panel-success': isPackUnlocked('town')}">
                <div class="panel-body">
                  <img src="../../../assets/townmodels.png" class="img-container">
                  <div class="quest-text" [ngClass]="{'green': isPackUnlocked('town')}">Earn 500 gold to unlock!</div>
                  <span class="quest-tick glyphicon glyphicon-check" *ngIf="isPackUnlocked('town')"></span>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="panel"
                   [ngClass]="{'panel-default': !isPackUnlocked('camp'), 'panel-success': isPackUnlocked('camp')}">
                <div class="panel-body">
                  <img src="../../../assets/campmodels.png" class="img-container">
                  <div class="quest-text" [ngClass]="{'green': isPackUnlocked('camp')}">Complete a "hard" question!
                  </div>
                  <span class="quest-tick glyphicon glyphicon-check" *ngIf="isPackUnlocked('camp')"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="title">Following</div>
              <br/>
              <div class="row">
                <div class="col-sm-12">
                  Follow another user to be able to see their settlement and progress!
                  <div class="input-group">
                    <input required #email="ngModel" type="text" class="form-control" id="userDisplayName"
                           name="userDisplayName"
                           placeholder="Enter User's Email" [(ngModel)]="userDisplayName">
                    <span class="input-group-btn">
                      <button class="btn btn-primary" (click)="addFollow()">
                        <span class="glyphicon glyphicon-plus"></span>
                      </button>
                    </span>
                  </div>
                  <span class="error" *ngIf="friendDoesntExist">User doesn't exist.</span>
                </div>
              </div>
              <div *ngIf="follows && follows.length > 0" class="row">
                <div class="col-sm-12">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <div *ngFor="let follow of follows">
                        <div class="row margin-bottom">
                          <div class="col-sm-7">
                            {{follow.displayName}}
                          </div>
                          <div class="col-sm-2 pull-right" style="padding: 0; font-size: 9.5pt">
                            {{follow.gold}} <span class="gold-icon"></span>
                          </div>
                          <div class="col-sm-3">
                              <span class="input-group-btn">
                                <button class="btn-sm btn-primary small-button" (click)="loadVillage(follow.id)">
                                  <span class="glyphicon glyphicon-home"></span>
                                </button>
                              </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

