<form>
  <div class="form-group">
    <label for="inputEmail" class="sign-up-label">Email address</label>
    <input required type="email" class="form-control" id="inputEmail" name="signupEmail" aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="signupEmail">
  </div>
  <div class="form-group">
    <label for="inputPassword" class="sign-up-label">Password</label>
    <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="signupPassword" [(ngModel)]="signupPassword">
  </div>
  <div class="form-group">
    <label for="inputConfirmPassword" class="sign-up-label">Confirm Password</label>
    <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirm Password" name="signupConfirmPassword" [(ngModel)]="signupConfirmPassword">
  </div>
  <button class="btn btn-primary" (onClick)="submitSignUpForm()">Submit</button>
</form>

