<!--Navbar-->
<nav class="navbar navbar-toggleable-md navbar-dark black-navbar" id="cg-navbar">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1"
            aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
      <strong>CodeGleyd</strong>
    </a>
    <div class="collapse navbar-collapse" id="navbarNav1">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Challenges</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Village</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Leaderboards</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--Body-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9">
      <div class="panel panel-default">
        <div class="panel-body">
          Hello
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-body">
          Friends
        </div>
      </div>
    </div>
  </div>
</div>
