.text-area-container {
  margin-top: 1em;
  margin-bottom: 1em;
}

.title {
  margin-bottom: 10px;
}

.test-result-container{
  margin-top: 10px;
  margin-bottom: 0;
}

.gold-text {
  margin-right: 5px;
  font-size: 25px;
}
