<div class="title">
  {{challenge.title}}
</div>
{{challenge.description}}
<div class="text-area-container">
          <textarea class="form-control" rows="5" [(ngModel)]="challenge.code">
          </textarea>
</div>
<button class="btn btn-default" (click)="goBackPressed()">Back</button>
<div class="pull-right">
  <button class="btn btn-default" (click)="runCode()">Run Code</button>
  <button class="btn btn-primary" (click)="submitCode()">Submit Code</button>
</div>
<div class="row" *ngIf="testResponse !== undefined">
  <div class="col-sm-12 test-result-container">
    <div class="panel" [ngClass]="{'panel-danger': testResponse.result === 'FAIL', 'panel-success': testResponse.result === 'PASS'}">
      <div class="panel-heading">
        {{getTestResult()}}
      </div>
    </div>
  </div>
</div>
