.form-validation-error {
  color: #ffec1f;
}

.loader {
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid #9d9d9d; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
